sklearn-env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
dataset*.csv
!Data yg dilatih dan di test/dataset_intent_13_ready_training.csv
!Data yg dilatih dan di test/dataset_intent_13_hard_test.csv
.ipynb_checkpoints/
.vercel
.env*.local
